.page-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
}

.page-title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
}
.user-card {
    background-color: #fff;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: "Montserrat", sans-serif;
}

.user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    background-image: url('https://cdn-icons-png.flaticon.com/128/4537/4537019.png');
    background-size: cover;
    background-position: center;
}
.button-container {
    display: flex;
    margin: 35%;
    margin-top: -3%;
}

.back-button {
    margin-top: 13%;
    background-color: #4e4e4e;
    color: #fff;
    width: 150px;
    height: 48px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.9s ease;
    align-self: flex-start;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.back-button:hover {
    background-color: #5e5055;
}