.footer-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    background: #313131;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    display: inline-block; /* Pour aligner le texte au milieu */
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}