@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}

.navbar li {
  display: inline;
}

.navbar li a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: rgb(202, 201, 201);
  text-align: center;
  padding: 16px 55px;
  background-color: rgb(85, 84, 84);
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.navbar li a:hover {
  background-color: rgb(102, 89, 89);
}

.navbar li:first-child {
  margin-left: 20px;
}

.navbar li:last-child {
  margin-right: 20px;
}

.navbar li a:active {
  border: 2px solid rgba(255, 0, 0, 0.3);
}
