/* Importer la police Montserrat depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px; /* Ajouter des bords arrondis */
}

.navbar li {
  display: inline;
}

.navbar li a {
  display: block;
  font-family: "Montserrat", sans-serif; /* Changer la police en Montserrat sans serif */
  font-weight: 600; /* Mettre le poids de la police en semi bold (600) */
  color: rgb(202, 201, 201); /* Changer la couleur de la police en gris léger */
  text-align: center;
  padding: 16px 55px;
  background-color: rgb(85, 84, 84);
  text-decoration: none;
  border-radius: 25px; /* Ajouter des formes arrondies pour les liens (boutons) */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Ajouter une transition fluide */
}

.navbar li a:hover {
  background-color: rgb(102, 89, 89); /* Couleur de fond légèrement grisée lors du survol */
}

/* Ajouter un espace à gauche du premier lien */
.navbar li:first-child {
  margin-left: 20px;
}

/* Ajouter un espace à droite du dernier lien */
.navbar li:last-child {
  margin-right: 20px;
}

/* Ajouter un style au lien actif */
.navbar li a:active {
  border: 2px solid rgba(255, 0, 0, 0.3); /* Bordure rouge fade autour du lien actif */
}
