<div class="center-container">
    <header>
        <h1>Présentation de l'API JSONPlaceholder</h1>
    </header>
    <main>
        <section class="description-container">
            <h2>À propos du site</h2>
            <p>Ce site internet permet de consulter différentes ressources à l'aide des onglets du tableau de données
                dans la
                barre de navigation. Vous pouvez accéder aux albums, photos et utilisateurs disponibles sur l'API
                JSONPlaceholder.</p>
        </section>

        <div class="resource-container">
            <h2>Ressources disponibles</h2>
            <ul>
                <li>albums - 100 albums</li>
                <li>photos - 5000 photos</li>
                <li>users - 10 users</li>
            </ul>
        </div>
    </main>
</div>