<div class="center-container">
    <header>
        <h1>Présentation de l'API JSONPlaceholder</h1>
    </header>
    <main>
        <section class="description-container">
            <h2>À propos du site</h2>
            <p>Ce site internet permet de consulter différentes ressources à l'aide des onglets du tableau de données
                dans la
                barre de navigation. Vous pouvez accéder aux albums, photos et utilisateurs disponibles sur l'API
                JSONPlaceholder.</p>
        </section>

        <div class="resource-container">
            <h2>Ressources disponibles :</h2>
            <ul>
                <li>albums - 100 albums</li>
                <li>photos - 5000 photos</li>
                <li>users - 10 users</li>
            </ul>
            
        </div>
        <span><br>Plus de ressources seront à l'avenir ajouté, pour l'instant seul les albums, les photos et les utilisateurs sont intégrés.</span>
    </main>
</div>
<div class="center-container2">
    <header>
        <h1>Bug et problèmes et connus sur le site :</h1>
    </header>
    <main>
        <div class="resource-container2">
            <h2>Les bugs :</h2>
            <ul>
                <li> - Lorsque l'on clique sur l'onglet "Liste des utilisateurs" et que l'on accede à ses informations détaillés et que l'on clique sur retour cela nous renvoie vers le premier onglet.</li>
                <li> - Lorsque l'on filtre sur l'ID dans la page "Data en Card" , si l'on efface l'ID apres avoir filtré , cela charge l'intégralité des 5000 Photos.</li>
                <li> - Dans de rares cas, parfois dans la page "Tableau de Data", le composant de "Liste des Albums" se duplique en deux (arrivé 1 fois, jamais réapparu).</li>
                <li> - Dans Tableau de Data , la navbar est par moment plus haute que les restes des pages.</li>
            </ul>
        </div>
    </main>
</div>