<section>
    <div>
        <div>
            <div>
                <div>
                    <h1 class="title">404</h1>
                    <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" alt="Error 404"
                        class="image">
                </div>
                <div>
                    <h3 class="subtitle">J'ai comme l'impression que vous êtes perdu..</h3>
                    <p class="description">La page que vous essayez d'acceder est indisponible ou n'existe pas</p>
                </div>
                <div class="link-container">
                    <a href="/" class="link">Retour à l'Acceuil</a>
                </div>
            </div>
        </div>
    </div>
</section>