<div class="container">
  <div class="filter">
    <mat-form-field class="filter-field">
      <mat-label>Filtrage sur AlbumID</mat-label>
      <input matInput (keyup)="applyFilter($event, 'albumId')" placeholder="Ex: 1 ou 2 ou 99" name="albumId">
    </mat-form-field>
    
    <mat-form-field class="filter-field">
      <mat-label>Filtrage sur ImageID</mat-label>
      <input matInput (keyup)="applyFilter($event, 'id')" placeholder="Ex: 1 ou 2 ou 99" name="id">
    </mat-form-field>
    
    <mat-form-field class="filter-field">
      <mat-label>Filter sur Titre</mat-label>
      <input matInput (keyup)="applyFilter($event, 'title')" placeholder="Ex: Abbeus Papam" name="title">
    </mat-form-field>
  </div>


  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="photos" matSort>

      <ng-container matColumnDef="albumId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id de l'album </th>
        <td mat-cell *matCellDef="let row"> {{row.albumId}} </td>
      </ng-container>


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id de l'image </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>


      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element" (click)="openImageDialog(element.url)">
          <img [src]="element.url" alt="Image" width="50" height="50">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>